$bg-color: #f2e6cf;
$text-color: #114c5f;
$primary-color: #0799b6;
$secondary-color: #9cd2d3;
$accent-color: #4a6eb0;

$primary-font: "Crimson Text", serif;
$secondary-font: "Montserrat", sans-serif;

$mobile: 768px;
$tablet: 1024px;
$desktop: 1200px;