$bg-color: #edebd9;
$text-color: #1c1f4c;
$primary-color: #00848c;
$secondary-color: #fec20f;
$accent-color: #fccf17;

$primary-font: "Crimson Text", serif;
$secondary-font: "Montserrat", sans-serif;
$logo-font: "Estrella Early";

$mobile: 768px;
$tablet: 1024px;
$desktop: 1200px;